*{
}

button{
  margin: 3px;
}

.header{
  background-color: red;
  height: 80px;
  line-height: 80px;
}

.home{
  width: 1200px;
  height: 400px;
  margin: 20px auto;
  line-height: 2;
}

.footer{
  background-color: blue;
  line-height: 80px;
  height: 80px; 
}
